:root {
    --screenWidth: calc(min(100vw, 100vh / 9 * 16));
    --screenHeight: calc(min(100vw, 100vh / 9 * 16) * 9 / 16);

    --mediumFontSize: calc(var(--screenWidth) / 40);
    --largeFontSize: calc(var(--screenWidth) / 20);
    --hugeFontSize: calc(var(--screenWidth) / 10);

    --gridGapSize: calc(var(--screenWidth) / 200);

    --scrollBarSize: 20px;
}

.screen {
    position: fixed;
    left: 50%;
    top: 50%;
    width: var(--screenWidth);
    height: var(--screenHeight);
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    border-width: 1px;
}

button{
    padding: 0;
}