#loginScreen, #titleScreen, #optionsScreen, #aboutScreen, #selectScreen, #inGameScreen {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
}