#optionsScreen>form {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 75%;
    height: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
    gap: calc(var(--screenHeight) / 100);
}

#optionsScreen>form>* {
    font-size: calc(var(--screenWidth) / 20);
    text-align: center;
}

#optionsScreenDifficultyLabel {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
}

#optionsScreenDifficultySlider {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
}

#optionsScreenMusicVolumeLabel {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
}

#optionsScreenMusicVolumeSlider {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
}

#optionsScreenSoundVolumeLabel {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;
}

#optionsScreenSoundVolumeSlider {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;
}

#optionsScreenDoneButton {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 4;
    grid-row-end: span 1;
}