:root{
    --selectableWidth: calc(var(--screenWidth) / 12);
    --selectableHeight: calc(var(--screenHeight) / 12);
    --selectablesInRow: 4;
    --selectablesAmount: 8;

    

    --scrollBarSize: 20px;
    --gripGapSize: calc(var(--screenHeight) / 100);

    --selectInfoSize: calc((var(--selectableWidth) * var(--selectablesInRow) + var(--scrollBarSize)) / 2);
}

#selectScreen>form{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: var(--selectableWidth) var(--selectInfoSize) var(--selectInfoSize);
    grid-template-rows: var(--selectInfoSize) calc(var(--selectableHeight) * var(--selectablesAmount) - var(--selectInfoSize)) var(--selectableHeight);
    gap: calc(var(--gripGapSize));
}

#selectScreenSelected {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 2;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--selectablesAmount), 1fr);
}

#selectScreenSelectionInfo {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;

    width: var(--selectInfoSize);
    height: var(--selectInfoSize);
}

#selectScreenSelectionCanvas {
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;

    width: var(--selectInfoSize);
    height: var(--selectInfoSize);
}

#selectScreenSelectables {
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 2;
    grid-row-end: span 1;
    
    overflow-y: scroll;

    display: grid;
    grid-template-columns: repeat(var(--selectablesInRow), 1fr);
}

#selectScreenBackButton{
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;

    font-size: calc(var(--screenWidth) / 30);
}

#selectScreenDoneButton{
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 3;
    grid-row-end: span 1;

    font-size: calc(var(--screenWidth) / 20);
}



.selectable{
    width: var(--selectableWidth);
    height: var(--selectableHeight);
    
    background: url("../images/icons/cardIcons/default.png") no-repeat;
	background-size: cover;
}

#selectScreenSelectables>.selectable:not(.choosable){
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}