:root{
    --selectScreenSelectablesInRow: 4;
    --selectScreenSelectablesInColum: 3;
    --selectScreenSelectableWidth: calc(var(--screenWidth) / 12);
    --selectScreenSelectableHeight: calc(var(--screenHeight) / 12);
    --scrollBarSize: 20px;
}

#selectScreen>form{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: var(--selectScreenSelectableWidth) calc(var(--selectScreenSelectableWidth) * var(--selectScreenSelectablesInRow) / 2 + 1px + var(--scrollBarSize)) calc(var(--selectScreenSelectableWidth) * var(--selectScreenSelectablesInRow) / 2 + 1px);
    grid-template-rows: calc(var(--selectScreenSelectableWidth) * var(--selectScreenSelectablesInRow) / 2 + 1px) calc(var(--selectScreenSelectableHeight) * var(--selectScreenSelectablesInColum) + 1px) calc(var(--selectScreenSelectableHeight) * 1.5);
    gap: calc(var(--screenHeight) / 100);
}

#selectScreenSelected {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 2;
}

#selectScreenSelectionInfo {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
}

#selectScreenSelectionCanvas {
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;

    width: 100%;
    height: 100%;
}

#selectScreenSelectables {
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 2;
    grid-row-end: span 1;

    overflow-y: scroll;
}

#selectScreenBackButton{
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;

    font-size: calc(var(--screenWidth) / 30);
}

#selectScreenDoneButton{
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 3;
    grid-row-end: span 1;

    font-size: calc(var(--screenWidth) / 20);
}



.selectable{
    width: var(--selectScreenSelectableWidth);
    height: var(--selectScreenSelectableHeight);
    
    background: url("../images/icons/cardIcons/default.png") no-repeat;
	background-size: cover;
}

#selectScreenSelectables>.selectable:not(.choosable){
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}