:root {
    --mainColor: #FFFFFF;
    --accentColor: #0099FF;
    --fontColor: #000000;
    --hoverColor: #00AAFF;
    --focusColor: #0066AA;
}

@media (prefers-color-scheme: dark) {
    :root {
        --mainColor: #1D1D1D;
        --accentColor: #0099FF;
        --fontColor: #EEEEEE;
        --hoverColor: #00AAFF;
        --focusColor: #0066AA;
    }
}

* {
    transition: all 0.5s;
    color: var(--fontColor);
}

.screen {
    border-style: solid;
    border-color: var(--accentColor);
    border-radius: 5px;
}

body {
    background-color: var(--mainColor);
}

button {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
}

input, button {
    border-radius: 10px;
    background-color: var(--mainColor);
    border-color: var(--accentColor);
}

input:hover, button:hover {
    background-color: var(--hoverColor);
}

input:focus, button:focus {
    background-color: var(--focusColor);
}




input[type=range] {
    width: 100%;
    margin: 0;
    background-color: transparent;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    background-color: var(--accentColor);
    border-radius: 5px;
    width: 100%;
    height: calc(var(--screenWidth) / 50);;
    cursor: pointer;

    background: rgb(34,193,195);
    background: linear-gradient(270deg, rgba(34,193,195,1) 0%, rgba(253,117,45,1) 100%);
}

input[type=range]::-webkit-slider-thumb {
    margin-top: 0;
    width: calc(var(--screenWidth) / 50);
    height: calc(var(--screenWidth) / 50);
    background-color: var(--mainColor);
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]::-moz-range-track {
    background: #ffffd6;
    border: 1px solid #000019;
    border-radius: 5px;
    width: 100%;
    height: calc(var(--screenWidth) / 50);
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: calc(var(--screenWidth) / 50);
    height: calc(var(--screenWidth) / 50);
    background: #3071a9;
    border: 1px solid rgba(0, 30, 0, 0.57);
    border-radius: 50%;
    cursor: pointer;
}

input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 0px 0;
    color: transparent;
    width: 100%;
    height: calc(var(--screenWidth) / 50);
    cursor: pointer;
}

input[type=range]::-ms-fill-lower, input[type=range]::-ms-fill-upper {
    background: #ffffd6;
    border: 1px solid #000019;
    border-radius: 5px;
}

input[type=range]::-ms-thumb {
    width: calc(var(--screenWidth) / 50);
    height: calc(var(--screenWidth) / 50);
    background: #3071a9;
    border: 1px solid rgba(0, 30, 0, 0.57);
    border-radius: 50%;
    cursor: pointer;
    margin-top: 0px;
}

@supports (-ms-ime-align:auto) {
    input[type=range] {
        margin: 0;
    }
}