#titleScreen>#titleScreenCanvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#titleScreen>h1 {
    left: 50%;
    top: 25%;
    text-align: center;
    font-size: calc(var(--screenWidth) / 10);
    animation: titleAnimation 3s infinite;
}

@keyframes titleAnimation{
    0%{
        transform: rotate(5deg);
    }

    25%{
        transform: rotate(-5deg);
    }

    50%{
        transform: rotate(5deg);
    }

    75%{
        transform: rotate(-5deg);
    }

    100%{
        transform: rotate(5deg);
    }
}

#titleScreen>form {
    position: absolute;
    left: 50%;
    top: 75%;
    width: 50%;
    height: 40%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: calc(var(--screenHeight) / 200);
}

#titleScreen>form>* {
    font-size: calc(var(--screenWidth) / 20);
}

#titleScreenStoryModeButton {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 1;
}

#titleScreenEndlessModeButton {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 2;
    grid-row-end: span 1;
}

#titleScreenOptionsButton {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;
}

#titleScreenAboutButton {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;
}