:root{
    --cardsPercolumn: 4;
}

#selectScreen>form{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: calc(var(--screenWidth) / 30);
    display: grid;
    grid-template-columns: var(--cardWidth) calc(var(--cardWidth) * var(--cardsPercolumn));
    grid-template-rows: calc(var(--cardWidth) * var(--cardsPercolumn) * 0.5) calc(var(--cardHeight) * var(--selectableCards) - var(--cardWidth) * var(--cardsPercolumn) * 0.5);
    background-color: var(--themeColor_6);
    border: 3px solid var(--themeColor_7);
    border-radius: 10px;
}

#selected{
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 2;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--selectableCards), 1fr)
}

#selectedInfo{
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#selectables{
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;

    display: grid;
    grid-template-columns: repeat(var(--cardsPercolumn), var(--cardWidth));
    grid-template-rows: var(--cardHeight);
    overflow-y: scroll;
    overflow-x: hidden;
}

#selectables>*{
    width: var(--cardWidth);
    height: var(--cardHeight);
}

#selectedInfoText{
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;

    width: calc(var(--cardWidth) * var(--cardsPercolumn) * 0.5);
    height: calc(var(--cardWidth) * var(--cardsPercolumn) * 0.5);

    overflow-y: scroll;
}

#selectedInfoCanvas{
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;

    width: calc(var(--cardWidth) * var(--cardsPercolumn) * 0.5);
    height: calc(var(--cardWidth) * var(--cardsPercolumn) * 0.5);

    background-color: var(--themeColor_1);
}